body {
  background-color: #FFF;
  margin: 1.5;
  padding: 0;
  height: 900px;
  width: 100%;
  background: url("http://www.scrapwaybrasil.com.br/assets/images/PANOAH59.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  }

.header {
background-image: url("https://s-media-cache-ak0.pinimg.com/736x/54/ed/78/54ed784dccfe17d8e87db77857f325cc--art-background-stock-illustrations.jpg");
}

#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
  color: #000;
}

.main {}

h1 {
  color: #000;
  font-family: 'Lobster Two', cursive;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 3px auto;
}

h2 {
  color: #d2b48c;
  font-family: 'Bellefair', serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

h3 {
  color: #d2b48c;
  font-family: 'Sacramento', cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px;
  text-align: center;
}

p {
  color: ##b266b2;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 24px;
  margin: 30px auto;
  text-align: center;
  width: 60%;
}
